[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cached-property = "*"
click = "*"
jinja2 = "*"
pygogo = "*"
pyyaml = "*"
requests = "*"
simple-settings = "*"
trading-api-wrappers = "*"
stringcase = "*"

[dev-packages]
trading-bots = {editable = true, path = "."}
twine = "*"
pytest = "*"
