###
# Trading-Bots secrets for examples project.
###

credentials:
  Buda:
    key:
    secret:
  Bitfinex:
    key:
    secret:
  Bitstamp:
    key:
    secret:
    customer_id:
  Kraken:
    key:
    secret:
  CurrencyLayer:
    access_key:
  OpenExchangeRates:
    app_id:

wallets:
  # - [currency, address]
